osu! Twitch Relay Server/bin/Debug/osu! Twitch Relay Server.exe
osu! Twitch Relay Server/bin/Debug/osu! Twitch Relay Server.exe.config
osu! Twitch Relay Server/bin/Debug/osu! Twitch Relay Server.pdb
osu! Twitch Relay Server/bin/Debug/osu! Twitch Relay Server.vshost.exe
osu! Twitch Relay Server/bin/Debug/osu! Twitch Relay Server.vshost.exe.config
osu! Twitch Relay Server/bin/Debug/osu! Twitch Relay Server.vshost.exe.manifest
osu! Twitch Relay Server/bin/Debug/osu! Twitch Relay.vshost.exe.config
osu! Twitch Relay Server/bin/Debug/osu!TwitchBotServer.exe
osu! Twitch Relay Server/bin/Debug/osu!TwitchBotServer.pdb
osu! Twitch Relay Server/bin/Debug/osu!TwitchBotServer.vshost.exe.config
osu! Twitch Relay Server/bin/Debug/osu!TwitchBotServer.vshost.exe.manifest
osu! Twitch Relay Server/obj/Debug/DesignTimeResolveAssemblyReferences.cache
osu! Twitch Relay Server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
osu! Twitch Relay Server/obj/Debug/osu! Twitch Relay Server.csproj.FileListAbsolute.txt
osu! Twitch Relay Server/obj/Debug/osu! Twitch Relay Server.exe
osu! Twitch Relay Server/obj/Debug/osu! Twitch Relay Server.pdb
osu! Twitch Relay Server/obj/Debug/osu!TwitchBotServer.csproj.FileListAbsolute.txt
osu! Twitch Relay Server/obj/Debug/osu!TwitchBotServer.csprojResolveAssemblyReference.cache
osu! Twitch Relay Server/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
osu! Twitch Relay Server/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
osu! Twitch Relay Server/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
osu! Twitch Relay Server/bin/Debug/log.txt
osu! Twitch Relay Server/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
osu! Twitch Relay Server/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
osu! Twitch Relay Server/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
osu! Twitch Relay Server/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
